html, body, div, h1, h2, p, a {
	margin:0;
	padding:0;
	font-size: 100%;
	border: 0;
	font: inherit;
		font-family: inherit;
		font-size: 100%;
		font-style: inherit;
		font-variant: inherit;
		font-weight: inherit;
		line-height: inherit;
	font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
	vertical-align: baseline;
	color: #0D0D0D;
	text-shadow: 0.5px 0.25px #666666;
}

nav {
	display: block;
}

a {
	text-decoration: none;
}

/* COLOR DIFFERENTIATORS--DELETE LATER 
div {
	background-color: lightgray;
}

.nav-buttons__folder {
	background-color: red;
}

h1, p, a {
	background-color: gray;
}

color differentiators--delete later*/

/* HEADER + NAVIGATION BUTTON LINKS */

.header_nav--wrapper {
	position: relative;
	z-index: 100;
	width: 100%;
	height: 120px;
	min-width: 1250px;
	line-height: 100px;
	display: block;
	background-color: #fff;
}

div.site-title {
	float: left;
	width: 40%;
	height: 100%;
}

.site-title__icon-l {
	float: left;
    width: 20%;
    height: auto;
    margin-top: 1%;
    margin-left: 5%;
}

img.site-title__icon-l {
	width: 100%;
	height: auto;
}

.site-title__name-r {
	visibility: visible;
	float: left;
    font-size: 170%;
    padding-left: 2.5%;
}

.site-title__name-r:hover {
	visibility: visible;
}

.site-title__name-r h1 {
	line-height: 100%;
	margin-top: 10%;
}

.site-title__name-r h2 {
	line-height: 100%;
	padding-top: 1%;
	font-size: 60%;
}

div.main-nav-wrapper {
	float: right;
	width: 57%;
	height: 90px;
	margin: 0 1% 0 0;
	text-align: right;
	line-height: 90px;
}

ul.nav-buttons {
	list-style-type: none;
	line-height: 70px;
	vertical-align: middle;
	font-size: 105%;
}

.nav-buttons li {
	display: inline;
	padding: 0 1% 0 1%;
}

.nav__food-drink__wrapper ul {
	visibility: visible;
	float: left;
	display: block;
}

/* MAIN PANEL */

.main_panel--picture {
	width: 100%;
	height: 55%;
	z-index: -30;
	margin-top: 0;
	background-image: url("OrchardBistro-01.jpg");
	position: fixed;
}

.main_panel--over {
	width: 100%;
	min-width: 680px;
	position:absolute;
}

.main_panel--over-text {
	background-color: #fff;
	font-style: italic;
}

h1.main_panel--over-text {
	font-size: 350%;
	margin-top: 9%;
	margin-right: 50%;
	margin-left: 10%;
	padding: 1% 1% 1% 1%;
}

h2.main_panel--over-text {
	font-size: 150%;
	margin-top: 1%;
	margin-right: 50%;
	margin-left: 10%;
	padding: 5px 5px 5px 5px;
}

h2.main_panel--over-text.main_panel--over-sub2 {
	font-size: 120%;
}

.main_panel--location {
	float: right;
	background-color: #fff;
	font-size: 150%;
	margin-top: 350px;
	margin-right: 15%;
	padding: 5px 10px 5px 10px;
 	position: relative;
}

.main_panel--menu {
	float: right;
	background-color: #fff;
	font-size: 150%;
	margin-top: 350px;
	margin-right: 1%;
	padding: 5px 10px 5px 10px;
 	position: relative;
}


